

<body>

    <div class="account">
        <div class="account__container__item">
            <li class="account__item">Профиль</li>
            <li class="account__item">Мои публикации</li>
            <li class="account__item">Добавленное</li>
        </div>
    </div>


    <form class="account__formContent" action="">
        <section class="account__section">

            <div class="account__inner">Мои публикации</div>
            <div class="account__container">
                <p>GGGGG</p>
                <p>GGGGG</p>
                <p>GGGGG</p>
                <p>GGGGG</p>
                <p>GGGGG</p>
                <p>GGGGG</p>
                <p>GGGGG</p>
                <p>GGGGG</p>
                <p>GGGGG</p>
                <p>GGGGG</p>
                <p>GGGGG</p>
                <p>GGGGG</p>
                <p>GGGGG</p>
                <p>GGGGG</p>
                <p>GGGGG</p>
                <p>GGGGG</p>
                <p>GGGGG</p>
            </div>
        </section>
    </form>
</body>


