@model LoginViewModel

@{ ViewData["Title"] = "Авторизация"; }


    <div class="intro">
        <div class="container">

            <form class="account_container" asp-controller="User" asp-action="Login" method="post">
                <div class="text1">Авторизация</div>
                <input type="email" name="login" required placeholder="Имя пользователя" asp-for="Login" class="input">
                <!--<span asp-validation-for="Login"></span>-->
                <input type="password" name="password" required placeholder="Пароль" asp-for="Password" class="input">
                <!--<span asp-validation-for="Login"></span>-->
                <button class="btn" type="submit">
                    Войти
                </button>

                <a class="nav" href="/User/ResetPasswordConfirmation">Забыли пароль?</a>
            </form>
        </div>
    </div>



@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
