@model LoginViewModel

@{ ViewData["Title"] = "Авторизация"; }


    <div class="intro">
        <div class="container">

            <form class="account_container" asp-controller="User" asp-action="Login" method="post">

                <div class="text1">Авторизация</div>

                <input name="Login" required placeholder="Имя пользователя" asp-for="Login" class="input">

                <div class="span"><span asp-validation-for="Login"></span></div>

                <input type="password" name="Password" required placeholder="Пароль" asp-for="Password" class="input">

                <div class="span"><span asp-validation-for="Password"></span></div>

                <button class="btn" type="submit">Войти</butto

                <a class="nav" href="/User/ResetPasswordConfirmation">Забыли пароль?</a>

            </form>
        </div>
    </div>



@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
