<div class="dropdown">

    <a class="dropbtn" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Запросы</a>
    <div class="dropdown-content">
        <a class="dropdown-content__link" asp-controller="Query" asp-action="BoxOffice">Кассовые сборы</a>

        <a class="dropdown-content__link" asp-controller="Query" asp-action="ListFilms">Вышедшие фильмы</a>

        <a class="dropdown-content__link" asp-controller="Query" asp-action="ListRole">Роли в фильмах</a>

        <a class="dropdown-content__link" asp-controller="Query" asp-action="StatisticsGenre">Статистика жанров</a>

    </div>

</div>
