<div class="dropdown">


    <div class="dropdown-content">
        <a class="dropdown-content__link" asp-controller="Account" asp-action="Index">Актеры-режиссеры</a>

        <a class="dropdown-content__link" asp-controller="Account" asp-action="Index">Сеансы</a>

        <a class="dropdown-content__link" asp-controller="Account" asp-action="Index">Кассовые сборы</a>

        <a class="dropdown-content__link" asp-controller="User" asp-action="Logout">Пользователи</a>

        <a class="dropdown-content__link" asp-controller="Account" asp-action="Index">Участники фильмов</a>

        <a class="dropdown-content__link" asp-controller="Account" asp-action="Index">Фильмы</a>

    </div>

</div>
