<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Playfair+Display&display=swap" rel="stylesheet">
    <title>Cinema</title>
</head>

<body>
    <header class="header">
        <div class="container">
            <div class="header_inner">
                <div class="header_logo">Реестр кинофильмов</div>

                <nav class="nav__link">
                    <!--<a class="nav_link" href="#">Таблицы</a>-->
                    @await Html.PartialAsync("_LoginTable")
                    <!--<a class="nav_link" href="#">Справочники</a>-->
                    @await Html.PartialAsync("_LoginDictionary")
                    <a class="nav_link" href="#">Документ</a>
                    <a class="nav_link" href="#">Выход</a>
                </nav>
            </div>
        </div>
    </header>
    <main class="main">
        @RenderBody()
    </main>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)

    <script src="http://code.jquery.com/jquery-2.0.2.min.js"></script>

</body>
</html>


