
<div class="dropdown">

    <a class="dropbtn" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Справочники</a>
    <div class="dropdown-content">
        <a class="dropdown-content__link" asp-controller="Dictionary" asp-action="EmployeeTypes">Должности с.группы</a>

        <a class="dropdown-content__link" asp-controller="Dictionary" asp-action="Genre">Жанры</a>

        <a class="dropdown-content__link" asp-controller="Dictionary" asp-action="FilmStudio">Киностудии</a>

        <a class="dropdown-content__link" asp-controller="Dictionary" asp-action="Rating">Рейтинг</a>

        <a class="dropdown-content__link" asp-controller="Dictionary" asp-action="Countries">Страны</a>

    </div>

</div>

