<div class="dropdown">

    <a class="dropbtn" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Таблицы</a>
    <div class="dropdown-content">
        <a class="dropdown-content__link" asp-controller="Cinema" asp-action="FilmsEmp">Актеры-режиссеры</a>

        <a class="dropdown-content__link" asp-controller="Cinema" asp-action="SessionFilms">Сеансы</a>

        <a class="dropdown-content__link" asp-controller="User" asp-action="AllUsers">Пользователи</a>

        <a class="dropdown-content__link" asp-controller="Cinema" asp-action="Films">Фильмы</a>

        <a class="dropdown-content__link" asp-controller="Cinema" asp-action="Employee">Съемочная группа</a>

    </div>

</div>
