
    <div class="dropdown">


        <div class="dropdown-content">
            <a class="dropdown-content__link" asp-controller="Account" asp-action="Index">Должности</a>

            <a class="dropdown-content__link" asp-controller="Account" asp-action="Index">Жанры</a>

            <a class="dropdown-content__link" asp-controller="Account" asp-action="Index">Киностудии</a>

            <a class="dropdown-content__link" asp-controller="User" asp-action="Logout">Рейтинг</a>

            <a class="dropdown-content__link" asp-controller="Account" asp-action="Index">Страны</a>

        </div>

    </div> 






