@{ ViewData["Title"] = "Реестр кинофильмов"; }
@model RatingViewModel


<div class="container">
    <div class="main_container">

        <form class="column_add" asp-controller="Dictionary" asp-action="AddOrUpdateRating" method="post">
            <div class="text1">Добавление данных</div>

            <input type="hidden" asp-for="Id" value=@Model.Id>

            <input type="text" name="Name" required placeholder="Рейтинг" asp-for="Name" class="input">

            <button class="btn" type="submit">Окей</button>

        </form>

        <div class="column_see">
            <div class="text1" style="margin-bottom:10px;">@ViewData["TableName"]</div>

            <div class="container_table">
                <table class="table">
                    <tr class="row">
                        @foreach (var item in (ViewData["Headers"]) as string[])
                        {
                            <td class="col" style="background:#eee;">@item</td>
                        }
                    </tr>
                    @if (ViewData["TableData"] != null)
                    {
                        @foreach (var item in (ViewData["TableData"]) as IEnumerable<RatingViewModel>)
                        {
                <tr class="row">
                    <td class="col" style="width:130px">
                        <div class="container_btn">
                            <button class="btn_change" type="submit"><a style="color:#000000; text-decoration:none;" href="/Dictionary/Rating?id=@item.Id">Редактировать</a></button>
                            

                            @using (Html.BeginForm("DeleteRating", "Dictionary", new { id = item.Id }, FormMethod.Post))
                            {
                                <button class="btn_change" type="submit">Удалить</button>
                            }
                        </div>
                    </td>

                    <td class="col" contenteditable="true">@item.Name</td>

                </tr>
                        }
                    }

                </table>
            </div>
        </div>

    </div>
</div>
